/* Top Nav Stuff */
.topnav {
    background-color: #560202;
    overflow: hidden;
}       
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #565656;
    color: black;
}

.topnav a.homeButton {
    float: left;
}

.topnav a.topButtons {
    float: right;
}

body {
    background-color: #ece0a6;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.searchBar {
    float: left;
    width: 30%;
    height: 40px;
    margin: 30px 10px;
}

.searchButton {
    float: left;
    margin: 40px 0;
}