/* Buzz Word Stuff */
.buzzWordRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buzzWordContainer {
    margin: 0;
    position: relative;
}

.buzzWord {
    position: absolute;
    color: red;
    bottom: 40px;
    left: 10px;
    text-align: center;
    background: white;
    padding: 5px;
    border-style: solid;
    border-color: red;
}


/* Grid Stuff */
.item1 { 
    grid-area: header; 
    padding: 10px; 
    text-align: center; 
    font-size: 30px;
    background-color: #517c58;
}

.item2 { grid-area: image1; padding: 0; text-align: center;}
.item3 { grid-area: desc1; padding: 5%; text-align: left;}
.item4 { grid-area: image2; padding: 0; text-align: center;}
.item5 { grid-area: desc2; padding: 5%; text-align: left;}
.grid-container {
    display: grid;
    grid-template-areas:
    'header header'
    'image1 desc1'
    'image2 desc2';
    background-color: #7a9163;
    padding: 2.5%;
    gap: 2%;
    margin: 13%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
}

.addToCart {
    background-color:#ab3735;
    color: white;
}

.newBackground {
    background-color: #b1c39f;
    padding-bottom: 10px;
}

/* more ___ buttons */
.moreButton {
    background-color:#ab3735;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    padding: 16px 32px;

    position: absolute;
    margin: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.moreButton:hover {
    background-color: #c199c1;
    color: white;
}


/* Bottom Bar */
.bottomContacts {
background-color: #517c58;
overflow: hidden;
padding: 10px;
margin-top: 50px;
color: rgb(164, 217, 234);
}


hr {
    width: 50%;
    border: solid black 1px;
}

