/* Buzz Word Stuff */
.buzzWordRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buzzWord {
    background-color: #ab3735;
    color: white;
    text-align: center;
    border-radius: 5%;
    font-size: 20px;
    padding: 2%;
}


/* Grid Stuff */
.item1 { grid-area: header; padding: 10px; text-align: center; font-size: 30px;}
.item2 { grid-area: image1; padding: 0; text-align: center;}
.item3 { grid-area: desc1; padding: 5px; text-align: left;}
.item4 { grid-area: image2; padding: 0; text-align: center;}
.item5 { grid-area: desc2; padding: 5px; text-align: left;}
.grid-container {
    display: grid;
    grid-template-areas:
    'header header header'
    'image1 desc1 desc1'
    'image2 desc2 desc2';
    background-color: #7a9163;
    padding: 10px;
    gap: 10px;
    margin: 10%;
    margin-top: 20px;;
    margin-bottom: 10px;
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
}

.addToCart {
    background-color:#ab3735;
    color: white;
}

/* more ___ buttons */
.moreButton {
    background-color:#ab3735;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    padding: 16px 32px;

    position: absolute;
    margin: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.moreButton:hover {
    background-color: #c199c1;
    color: white;
}


/* Bottom Bar */
.bottomContacts {
background-color: #517c58;
overflow: hidden;
padding: 10px;
margin-top: 50px;
color: rgb(164, 217, 234);
}
