/* Add padding for containers */
.bigContainer {
    padding: 16px;
    margin: 10% 20%;
    background-color: rgb(236, 236, 236);
    border-style: solid;
    border-color: grey;
    text-align: center;
}

/*Stylized dropdown button */
select {
    background-color: #f2f6f4;
    color: rgb(0, 0, 0);
    padding: 16px 20px;
    margin: 8px 0;
    cursor: pointer;
    opacity: 0.9;
    border-color: grey;
    background: #f1f1f1;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: solid;
    border-color: grey;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
/* Overwrite default styles for hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
/* Set style for the submit/register button */
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}
/* Blue text color to links */
a {
    color: dodgerblue;
}

.errorLog {
    color: red;
}

button {
    background-color: #17c0e2;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
button:hover {
    opacity: 1;
}

/*I'm scared to delete this*/
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

div#error-message {
    border: black 2px solid;
    border-radius: 4%;
    padding: 1%;
    margin-left: 5%;
    height: 10%;
    width: 10%;
    text-align: center;
    background: white;
    color: red;
}