body {
    background-color: #ece0a6;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.item1 { grid-area: image; padding: 0; text-align: center;}
.item2 { grid-area: desc; padding: 5px; text-align: left;}
.grid-container {
    display: grid;
    grid-template-areas:
    'image desc desc';
    background-color: #56614b;
    padding: 5px;
    gap: 5px;
    margin: 10%;
    margin-top: 20px;;
    margin-bottom: 10px;
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
}

.addRemoveQuantity {
    background-color:#ab3735;
    color: white;
}

.totalMoney {
    text-align: right;
    font-size: larger;
    margin-top: 0;
}

.proceedPayment {
    background-color:#0a93c5;
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
}
