<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Include your CSS and JavaScript files here -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- linking css page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
    <body>

        <!-- Navigation Bar -->
        <!-- nav bar -->
        <div class="topnav">
            <a class="homeButton" href="/">
                <img src="{{ url_for('static', filename='images/FRUHBLogo.png') }}" alt="Logo" height="90px" width="175px">
            </a>

            
            <a class="topButtons" href="/inventory">
                <img src="{{ url_for('static', filename='images/InventoryIcon.png') }}" alt="Inventory" height="90px" width="90px">
            </a>
            <a class="topButtons" href="/users">
                <img src="{{ url_for('static', filename='images/profileIcon.png') }}" alt="Users" height="90px" width="90px">
            </a>
            <a class="topButtons" href="/sdfgdsfa">
                <img src="{{ url_for('static', filename='images/logoutIcon.png') }}" alt="Users" height="90px" width="90px">
            </a>
        </div>
        
        <div style="padding: 1%;">
        <h1>Fruhb Search</h1>
            <form method="POST">
                <label for="search">Search</label><br/>
                <input type="text" name="query" placeholder="...">
                <button type="submit">Search</button>
            </form>
        </div>

        <!-- Content Block -->
        <div class="content">
            {% block content %}{% endblock %}
        </div>

    </body>
</html>