{% extends 'buyer_base.html' %}

{% block title %}FRUHB || CART{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/searchCartOH.css') }}">
    <script src="{{ url_for('static', filename='randomize.js') }}" defer></script>
    <!-- Add home page content here -->

    <div class="headerSection">
        <h1 class="headerWords">Your Cart:</h1>
    </div>

    <!-- If Cart is Empty -->
    {% if list | length == 0 %}
        <p style="font-size: 50px; color: red;" id="empty_cart">
            No items in cart
        </p>
    {% endif %}

    <!-- Displaying Items in Cart-->
    {% for item in list %}
        <div class="grid-container">
            <div class="displayImage">
                <img src="{{ url_for('static', filename='images/apple.png') }}" alt="product" height="200px" width="200px">
            </div>
            <div class="displayDesc">
                <p class="totalMoney">
                    <strong style="font-size: 30px;">{{ item['itemName'] }}</strong> <br/><br/>
                    Price: ${{ item['price'] }} <br/>
                    <div>
                        Quantity: {{ item['quantity'] }}
                        <form method="POST" class="editCartQuantity" action="/cart">
                            <input type="hidden" name="itemID" value="{{ item['itemID'] }}">
                            <input class="addRemoveQuantity" name="action" type="submit" value='+'>
                            <input class="addRemoveQuantity" name="action" type="submit" value='-'>
                        </form>
                    </div>
                    </br>
                    <div style="text-align: right;">
                        <strong>Total:</strong>  ${{ item['price'] *  item['quantity']}}
                    </div>
                    
                </p>
            

                
            </div>
        </div>
        <br/>
    {% endfor %}

    {% if cartPrice %}
    
        <h2 style="text-align: right; font-size: 30px; margin: 0 30px">Grand Total: ${{ cartPrice }}</h2>

        <form method="POST" action="/cart">
            <input class="payBut" type="submit" name="payButton" value="Pay">
        </form>
    </p>
    {% endif %}

    {% if bool %}

        <p>You have paid!</p>

    {% endif %}

    <!-- footer -->
<address class="bottomContacts">
    Contact Us!!!<br>
    (123)-456-7890<br>
    realEmailAddress@gmail.com<br>
</address>
{% endblock %}