{% extends 'buyer_base.html' %}

{% block title %}FRUHB || CART{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{ url_for('static', filename='randomize.js') }}" defer></script>
    <!-- Add home page content here -->


   
    {% if list | length == 0 %}
        <p id="empty_cart">
            No items in cart
        </p>
    {% endif %}



    {% for item in list %}
        <div>
            <div>
                <img src="{{ url_for('static', filename='images/apple.png') }}" alt="product" height="200px" width="200px">
            </div>
            <div>
                <p class="totalMoney">
                    {{ item['itemName'] }} <br/>
                    Item Quantity: {{ item['quantity'] }} <br/>
                    Item Price: ${{ item['price'] }} <br/>
                </p>
            </div>

            <form method="POST" class="editCartQuantity" action="/cart">
                <input type="hidden" name="itemID" value="{{ item['itemID'] }}">
                <input class="addRemoveQuantity" name="action" type="submit" value='+'>
                <input class="addRemoveQuantity" name="action" type="submit" value='-'>
            </form>
        </div>
        <br/>
    {% endfor %}

    {% if cartPrice %}
    <p>
        Cart Price: ${{ cartPrice }}

        <form method="POST" action="/cart">
            <input type="submit" name="payButton" value="Pay">
        </form>
    </p>
    {% endif %}

    {% if bool %}

        <p>You have paid!</p>

    {% endif %}
{% endblock %}