<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRUHB || Home</title>

    <!-- linking css page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='randomize.js') }}" defer></script>
</head>

<body>
    <!-- nav bar -->
    <div class="topnav">
        <a class="homeButton" href="/home">
            <img src="{{ url_for('static', filename='images/FRUHBLogo.png') }}" alt="Logo" height="90px" width="175px">
        </a>

        <a class="homeButton" href="/search" name="search">
            <img src="{{ url_for('static', filename='images/searchButton.png') }}" alt="Logo" height="90px" width="175px">
        </a>

        <a class="topButtons" href="/order-history" name="order_history">
            <img src="{{ url_for('static', filename='images/orderHistoryIcon.png') }}" alt="Order History" height="90px" width="90px">
        </a>
        
        <a class="topButtons" href="/cart" name="cart">
            <img src="{{ url_for('static', filename='images/cartIcon.png') }}" alt="Cart" height="90px" width="90px">
        </a>
        
        <a class="topButtons" href="/settings" name="settings">
            <img src="{{ url_for('static', filename='images/settingsIcon.png') }}" alt="Settings" height="90px" width="90px">
        </a>

        <a class="profileButton" href="/login">
            <img src="{{ url_for('static', filename='images/profileIcon.png') }}" alt="Profile" height="90px" width="175px">
        </a>
    </div>


    <!-- Buzz word stuff-->
    <div class="buzzWordRow">
        <p class="buzzWord" id="randSpin1">Big Savings! </p>
        <p class="buzzWord" id="randSpin2">Yummy Produce!</p>
        <p class="buzzWord" id="randSpin3">Free Shipping!</p>
        <p class="buzzWord" id="randSpin4">Great Staff!</p>
        <p class="buzzWord" id="randSpin5">Fast Delivery!</p>
    </div>


    <!-- Featured Fruits -->
    <div class="grid-container">
    <div class="item1">Featured Fruits!!</div>
    {% for item in fruits %}
        <div>
            <div class="item2">
                <img src="{{ url_for('static', filename='images/apple.png') }}" alt="image1" height="200px" width="200px">
            </div>

            <br/>
            <hr/>

            <div class="item3">
                <h2>
                {{ item[1] }}
                </h2>
                <p>
                    <!--
                {{ item[4] }}
                    -->
                </p>

                <!-- cart data submission -->
                <form class="addToCartForm" method="POST">
                    <input class="addToCart" type="submit" name="action" value="Add to Cart">
                    <input type="hidden" name="item_data" value="{{ item['name'] }},{{ item['quantity'] }},{{ item['price'] }},{{ item['description'] }}">
                </form>
            </div>  
        </div>
    {% endfor %} 
    </div>

    <form method="POST" action="/search">
        <button class="moreButton">More Fruits</button>
    </form>
    <br><br><br><br>



    <!-- Featured Veggies -->
    <div class="grid-container">
    <div class="item1">Featured Veggies!!</div>
    {% for item in veggies %}
        <div>
            <div class="item2">
                <img src="{{ url_for('static', filename='images/broc.png') }}" alt="image1" height="200px" width="200px">
            </div>

            <br/>
            <hr/>

            <div class="item3">
                <h2>
                {{ item[1] }}
                </h2>
                <p>
                    <!--
                {{ item[4] }}
                    -->
                </p>
                <form class="addToCartForm" action="/cart">
                    <button class="addToCart" type="AddToCart">Add To Cart</button>
                </form>
            </div>  
        </div>
    {% endfor %} 
    </div>

    <form action="/search">
        <button class="moreButton">More Veggies</button>
    </form>
    <br><br>






    <!-- footer -->
    <address class="bottomContacts">
        Contact Us!!!<br>
        (123)-456-7890<br>
        realEmailAddress@gmail.com<br>
    </address>
</body>

</html>
