<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- linking css page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <!-- nav bar -->
    <div class="topnav">
        <a class="homeButton" href="/">
            <img src="{{ url_for('static', filename='images/FRUHBLogo.png') }}" alt="Logo" height="90px" width="175px">
        </a>
    </div>


    <form action="/login" method="post">
        <div class="imgcontainer">
            <img src="{{ url_for('static', filename='images/FRUHBLogo.png') }}" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname"  class="textbox" required>
            <br/>
            <label for="psw"><b>Password</b></label>
            <input type="text" placeholder="Enter Password" name="psw" class="textbox" required>
            <button class="loginButton" type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember">Remember me
            </label>
        </div>

        {% if failure_message %}
        <div id="error-message">
            <b>{{ failure_message }}</b>
        </div>
        {% endif %}
    </form>

    <form action="/register-account" method="GET">
        <input type="submit" value="Create an account">
    </form>
</body>
</html>
