{% extends 'buyer_base.html' %}

{% block title %}FRUHB || HOME{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/searchCartOH.css') }}">
    <script src="{{ url_for('static', filename='randomize.js') }}" defer></script>
    <!-- Add home page content here -->

    <div class="headerSection">
        <h1 class="headerWords">Order History:</h1>
    </div>

    <!-- if no order history -->
    {% if order_history | length == 0 %}
    <p style="font-size: 50px; color: red;" id="empty_cart">
        No items purchased
    </p>
    {% endif %}

    <!-- printing out history -->
    {% for item in order_history %}
      <div class="grid-container">
        <div class="displayImage">
            <img src="{{ url_for('static', filename='images/apple.png') }}" alt="product" height="200px" width="200px">
        </div>
        
        <div class="displayDesc">
            <p>
                Order ID - {{ item['orderID'] }}
            </p>
            <h2 style="font-size: 30px;">
                {{ item['name'] }}
            </h2>
            <p class="totalMoney">
                Item Price: ${{ item['price'] }} <br/>
                Total: ${{ item['price']*item['quantity'] }} <br/>
                Amount: {{ item['quantity'] }} <br/><br/>
            </p>
            <p>
                {{ item['description'] }}
            </p>
            <form style="text-align: right;" method="POST" action="/order_history">
                <button class="styleBut" type="submit" name="returnItem" value="{{ item['orderID'] }}">Return Item</button>
            </form>
        </div>  
      </div>  
    {% endfor %}






    <!-- footer -->
</br></br></br></br></br></br></br>
    <address class="bottomContacts">
        Contact Us!!!<br>
        (123)-456-7890<br>
        realEmailAddress@gmail.com<br>
    </address>
{% endblock %}