<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>

    <!-- linking css page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
<header>
    <!-- nav bar -->
    <div class="topnav">
        <a class="homeButton" href="/">
            <img src="{{ url_for('static', filename='images/FRUHBLogo.png') }}" alt="Logo" height="90px" width="175px">
        </a>

        <a class="homeButton" href="/search">
            <img src="{{ url_for('static', filename='images/searchButton.png') }}" alt="Logo" height="90px" width="175px">
        </a>

        <a class="topButtons" href="/order-history">
            <img src="{{ url_for('static', filename='images/orderHistoryIcon.png') }}" alt="Order History" height="90px" width="90px">
        </a>
        
        <a class="topButtons" href="/cart">
            <img src="{{ url_for('static', filename='images/cartIcon.png') }}" alt="Cart" height="90px" width="90px">
        </a>
        
        <a class="topButtons" href="/settings">
            <img src="{{ url_for('static', filename='images/settingsIcon.png') }}" alt="Settings" height="90px" width="90px">
        </a>

        <a class="profileButton" href="/login">
            <img src="{{ url_for('static', filename='images/profileIcon.png') }}" alt="Profile" height="90px" width="175px">
        </a>
    </div>



    <div style="padding: 1%;">
        <h1>Fruhb Search</h1>
        <form action="/search" method="POST">
            <label for="fruit">Search for an product</label><br/>
            <input type="text" name="query" placeholder="apple...">
            <button type="submit">Search</button>
        </form>
    </div>



    {% if list | length == 0 %}
    <p id="empty_cart" style="padding:1%">
        No items match your query.
    </p>
    {% endif %}
    {% for item in list %}
        <div class="grid-container">
          <div class="item1">
              <img src="{{ url_for('static', filename='images/apple.png') }}" alt="product" height="200px" width="200px">
          </div>
          
          <div class="item2">
              <p class="totalMoney">
                  Item Price: ${{ item[3] }} <br/>
                  Total: ${{ item[3]*item[2] }}
              </p>
              <h2>
                  {{ item[2] }} - {{ item[1] }}
              </h2>
              <!-- cart data submission -->
            <form class="addToCartForm" method="POST">
                <input class="addToCart" type="submit" name="action" value="Add to Cart">
                <input type="hidden" name="add" value="{{ item[0] }}">
            </form>
          </div>  
        </div>  
    {% endfor %}




</header>
</body>
</html>
