{% extends 'seller_base.html' %}

{% block title %}FRUHB || HOME{% endblock %}


{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sellerHome.css') }}">
    
    <h1 style="text-align: center; color: rgb(109, 9, 9); border-style: double; border-color: rgb(109, 9, 9); margin: 20px 100px;">Items in Inventory:</h1>
    <!-- printing out history -->
    {% for item in productList %}
      <div class="grid-container1">
        <div class="item1">
            <img src="{{ url_for('static', filename='images/apple.png') }}" alt="product" height="200px" width="200px">
        </div>
        
        <div class="item2">
            <h2>{{ item['name'] }}</h2>
            <h3>Amount Sold: {{ item['sold'] }}</h3>
            <form method="POST" action="/">
                <button class="rmButton" name="removeItem" type="submit" value="{{ item['itemID'] }}">Remove Item</button>
            </form>
        </div>  
        <div class="item3">
            <p class="totalMoney">
                Item Price: ${{ item['price'] }} <br/>
                Total Earned From Sales: ${{ item['price']*item['sold'] }}
            </p>
            <form method="POST">
                <button name="buyerList" type="submit" value="{{ item['itemID'] }}">Buyer list</button>
            </form>
            {% if buyerList != [] and id==item['itemID'] %}
                <p>
                    {% for buyer in buyerList %}
                        {{ buyer }},
                    {% endfor %}
                </p>
            {% endif %}
        </div>
      </div>  
    {% endfor %}


    <h1 style="text-align: center; color: rgb(109, 9, 9); border-style: double; border-color: rgb(109, 9, 9); margin: 20px 100px;">Add Item:</h1>
    <form method="POST" action="/">
        <div class="grid-container2">
            <div class="item1">
                <img src="{{ url_for('static', filename='images/apple.png') }}" alt="product" height="200px" width="200px">
            </div>
            
            <div class="item3">
                <p class="totalMoney">
                    Item Name: <input type="text" name="item_name"><br/>
                    Item Price: $ <input type="text" name="new_price"> <br/>
                    Amount: <input type="text" name="new_amount"><br/>
                </p>

                <input class="addRemoveQuantity" name="addToInventory" type="submit" value='Add Item'>
            </div>
        </div> 
    </form>  
<!-- Space for fixed bottom bar-->
</br></br></br></br>





    <!-- footer -->
    <address class="bottomContacts">
        Contact Us!!!<br>
        (123)-456-7890<br>
        realEmailAddress@gmail.com<br>
    </address>
{% endblock %}