{% extends 'seller_base.html' %}

{% block title %}FRUHB || settings{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    
    


    <div>
        <ul>
            <h1> Settings </h1>
            <p> 
                {% if not edit %}
                    <strong>Username:</strong> {{ data['username'] }}<br/>
                    <strong>Email Address:</strong> {{ data['email'] }}<br/>
                    <strong>First Name:</strong> {{ data['fname'] }}<br/>
                    <strong>Last Name:</strong> {{ data['lname'] }}<br/>
                    <address> 
                        <strong>Shipping Information:</strong><br/>
                        Address: {{ data['street'] }}<br/>
                        State: {{ data['state'] }}<br/>
                        City: {{ data['city'] }}<br/>
                        ZIP: {{ data['zip'] }}<br/>
                    </address>
                {% endif %}

                {% if edit %}
                <form action="/settings" method="POST">

                    <strong>Username:</strong>
                    <br/><input type="text" name="new_uname" class="inputText" placeholder="New Username..."><br/>
                    <strong>Email Address:</strong>
                    <br/><input type="text" name="new_email" class="inputText" placeholder="New Email..."><br/>
                    <strong>First Name:</strong>
                    <br/><input type="text" name="new_fname" class="inputText" placeholder="New First Name..."><br/>
                    <strong>Last Name:</strong>
                    <br/><input type="text" name="new_lname" class="inputText" placeholder="New Last Name..."><br/><br/><br/>

                    <address> 
                        <strong>Shipping Information:</strong><br/>
                        Address: <br/><input type="text" name="new_address" class="inputText" placeholder="New Address..."><br/>
                        State: <br/><input type="text" name="new_state" class="inputText" placeholder="New State..."><br/>
                        City: <br/><input type="text" name="new_city" class="inputText" placeholder="New City..."><br/>
                        ZIP: <br/><input type="text" name="new_zip" class="inputText" placeholder="New ZIP..."><br/>
                    </address>

                    <br/>
                    <input type="submit" name="new_info" value="Submit">
                </form>
                {% endif %}
            </p>

            <form method='POST' action='/settings'>
                <button type="submit" name="edit" class='settingsBut'>Edit Account Info</button>
                <button type="submit" name="logout" class='settingsBut'>Log Out</button><br/><br/>
                <button type="submit" name="deleteAccount" class="deleteAccountBut">DELETE ACCOUNT</button>
            </form>

            <br><br>

        </ul>

        
    </div>






    <!-- footer -->
    <address class="bottomContacts">
        Contact Us!!!<br>
        (123)-456-7890<br>
        realEmailAddress@gmail.com<br>
    </address>
{% endblock %}