<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRUHB || Settings</title>


    <!-- linking css page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

</head>
<body>
    <!-- nav bar -->
    <div class="topnav">
        <a class="homeButton" href="/">
            <img src="{{ url_for('static', filename='images/FRUHBLogo.png') }}" alt="Logo" height="90px" width="175px">
        </a>


        <form>
            <input class="searchBar" type="text" placeholder="Search..">
            <button class="searchButton" type="submit">Submit</button>
        </form>


        <a class="topButtons" href="/order-history">
            <img src="{{ url_for('static', filename='images/orderHistoryIcon.png') }}" alt="Order History" height="90px" width="90px">
        </a>
        
        <a class="topButtons" href="/cart">
            <img src="{{ url_for('static', filename='images/cartIcon.png') }}" alt="Cart" height="90px" width="90px">
        </a>
        
        <a class="topButtons" href="/settings">
            <img src="{{ url_for('static', filename='images/settingsIcon.png') }}" alt="Settings" height="90px" width="90px">
        </a>

        <a class="profileButton" href="/login">
            <img src="{{ url_for('static', filename='images/profileIcon.png') }}" alt="Profile" height="90px" width="175px">
        </a>
    </div>


    
    <div>
        <ul>
            <h1> Settings </h1>
            <p> <strong>Username:</strong> ExUsername<br>
                <strong>Email Address:</strong> ExEmail<br><br>
                <strong>Shipping Information:</strong>
                <address> 
                    ExStreetAndHouseNum <br>
                    State: ExState <br>
                    City: ExCity <br>
                    ZIP: ExZIP <br>
                </address>
            </p>

            <button class="settingsBut">Edit Account Info</button>
            <button class="settingsBut">Log Out</button>
            <p><br><br></p>
            <button class="deleteAccountBut">DELETE ACCOUNT</button>

        </ul>

        
    </div>
</body>
</html>
